Source: ui-grid
Section: misc
Priority: optional
Maintainer: Daniel Patrick Abrecht <deb@danielabrecht.ch>
Build-Depends: debhelper (>= 12~)
Standards-Version: 4.3.0
#Homepage: <insert the upstream URL, if relevant>
# Also available at:
#  https://gitlab.com/DanielAbrecht/ui-grid.git
#  https://github.com/Daniel-Abrecht/ui-grid.git
Vcs-Git: https://projects.dpa.li/git/ui-grid.git
Vcs-Browser: https://projects.dpa.li/git/?p=ui-grid.git;a=summary

Package: ui-grid
Architecture: all
Depends: python3, python3-pyqt5, python3-pyqt5.qtquick,
         qml-module-qtquick-controls2, qml-module-qtquick2,
         ${misc:Depends}
Description: Display labeled icons in a grid
 ui-grid is an xembedable program that reads the icons
 to be displayed / added / removed etc. from stdin,
 and outputs what's been clicked on to stdout.
